<div class="container">
    <h1>Islands</h1>
    <!-- Search Forms Start -->
    <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Search and Filter
        </a>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body" style="margin-bottom: 20px;">
            <%= search_form_for @q do |f| %>
            <div class="row">
                <div class="col">
                    <b>
                        <%= f.label "Island Name:" %></b>
                    <%= f.text_field :island_name_cont, :class => "form-control" , placeholder:"Search Island" %>
                </div>
                <div class="col">
                    <b>
                        <%= f.label "Region Name:" %></b>
                    <%= f.text_field :regions_region_name_cont, :class => "form-control", placeholder:"Search Region" %>
                    <div style=" float: right; margin-top: 10px; margin-bottom: 20px ;">
                        <%= f.submit "Search", class:"btn btn-light text-center float-right" %>
                        <% if Island.count > @islands.count %>
                            <%= link_to "Reset Search", request.path, class:"btn btn-secondary" %>
                        <br><br>
                        <% end %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
    <!-- Search Forms End -->
    <!-- Island Table Start -->
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th style="width: 70%">
                    <%= sort_link(@q, :island_name, "Island", default_order: :asc)%>
                </th>
                <th style="width: auto;">Number of Clients</th>
                <!-- <th style="width: auto;">Edit</th>
        <th style="width: auto;">Delete</th> -->
            </tr>
        </thead>
        <tbody>
            <% @islands.each do |island| %>
            <tr>
                <td>
                    <%= link_to island.island_name, island_regions_path(island)%>
                </td>
                <td>
                    <%= Region.where(:island_id => island).count %>
                </td>
                <% end %>
        </tbody>
    </table>
    <br>
    <div class="d-flex justify-content-between">
        <% if Island.count > 10 && @f.count > 10 %>
        <%== pagy_bootstrap_nav(@pagy) %>
        <% end %>
    </div>
</div>