<div class="container">
<p id="notice"><%= notice %></p>

<h1>System Audit Logs</h1>

<!-- Search Form Start -->
<div>
  <%= search_form_for @q do |f| %>
    <div class="row">
      <div class="col" style="width:50%">
        <%= f.label "Event contains:"%>
        <%= f.search_field :event_cont, class:"form-control me-2", placeholder:"Search Event" %>
        
        <%= f.label "Page contains:"%>
        <%= f.search_field :table_name_cont, class:"form-control me-2", placeholder:"Search Page" %>
      </div>
      <div class="col">
        <%= f.label "User Email contains:"%>
        <%= f.search_field :modifier_cont, class:"form-control me-2", placeholder:"Search User Email" %>
        
        <%= f.label "Record name contains:"%>
        <%= f.search_field :object_name_cont, class:"form-control me-2", placeholder:"Search Record Name" %>
      </div>   
      <div class="row">
        <div class="col" style="width:50%">
         <%= f.label :created_at_gteq%>
          <%= f.search_field :created_at_gteq, class:"form-control me-2", placeholder:"Search Date" %>
        </div>
        <div class="col">
          <%= f.label :created_at_gteq%>
          <%= f.search_field :created_at_lteq, class:"form-control me-2", placeholder:"Search  Date" %>
        </div>
      </div>
      <div class="row">
      <div class="col">        
        <br>
        <%= f.submit "Search", class:"btn btn-outline-primary text-center" %>
        <%= link_to "Reset Search", request.path, class:"btn btn-light text-center float-left" %>
        <%= link_to "Export to PDF", audit_logs_path(@audit_logs, format: :pdf),class:"btn btn-primary text-center float-end"%>
      </div> 
      </div>
  </div>

    <% end %>
</div>


  <!-- Search Form End -->

<br>

  <table class="table table-hover table-bordered ">
    <thead>
      <tr>
        <th><%= sort_link(@q, :event, "Event", default_order: :asc)%></th>
        <th><%= sort_link(@q, :modifier , "User", default_order: :asc)%></th>
        <th><%= sort_link(@q, :table_name , "Page", default_order: :asc)%></th>
        <th><%= sort_link(@q, :object_name , "Record Name", default_order: :asc)%> </th>
        <th><%= sort_link(@q, :created_at , "Date", default_order: :asc)%></th> 
      </tr>
    </thead>

    <tbody>
      <% @audit_logs.each do |a| %>
        <tr>
          <td><%= a.event %></td>
          <td><%= a.modifier %></td>
          <td><%= a.table_name %></td>
          <td><%= a.object_name %></td>
          <td><%= a.created_at.strftime("%F %T") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- Content for PDF Export Start -->
  <% content_for :pdf do %>
    <table class="table table-hover table-bordered ">
      <thead>
        <tr>
          <th><%= sort_link(@q, :event, "Event", default_order: :asc)%></th>
          <th><%= sort_link(@q, :modifier , "User", default_order: :asc)%></th>
          <th><%= sort_link(@q, :table_name , "Page", default_order: :asc)%></th>
          <th><%= sort_link(@q, :object_name , "Record Name", default_order: :asc)%> </th>
          <th><%= sort_link(@q, :created_at , "Date", default_order: :asc)%></th> 
        </tr>
      </thead>

      <tbody>
        <% @audit_logs.each do |a| %>
          <tr>
            <td><%= a.event %></td>
            <td><%= a.modifier %></td>
            <td><%= a.table_name %></td>
            <td><%= a.object_name %></td>
            <td><%= a.created_at.strftime("%F %T") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <!-- Content for PDF Export End -->
</div>