<div class="container" style=" margin-bottom: 50px;">
    <!-- <p id="notice"><%= notice %></p> -->
    <h1>System Audit Logs</h1>
    <!-- Search Form Start -->

    <!-- Danger Alert for when Audit Logs is nearing 10,000 logs-->
    <% $counter ||= 0 %>
    <% if $counter > 0  %>
        <div class="alert alert-danger" role="alert">
          Audit logs is currently at <%= $counter %> logs! Please save a copy of the System Audit Logs now.
        </div>
    <% end %>

    <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Search and Filter
        </a>
        <a >
            <%= link_to "Export to PDF", audit_logs_path(@audit_logs, format: :pdf), target: '_blank', class:"btn btn-danger text-center float-end"%>
        </a>
    </p>
    
    <div class="collapse" id="collapseExample">
        <div class="card card-body" style="margin-bottom: 20px;">
            <%= search_form_for @q do |f| %>
            <div class="row">
                <div class="col">
                    <b>
                        <%= f.label "Event contains:"%></b>
                    <%= f.search_field :event_cont, class:"form-control me-2", placeholder:"Search Event" %>
                    <b>
                        <%= f.label "Page contains:"%></b>
                    <%= f.search_field :table_name_cont, class:"form-control me-2", placeholder:"Search Page" %>
                    <b>
                        <%= f.label "Start Date:"%></b>
                    <%= f.date_field :date_created_gteq, class:"form-control me-2", placeholder:"Search Date" %>
                </div>
                <div class="col">
                    <b>
                        <%= f.label "User Email contains:"%></b>
                    <%= f.search_field :modifier_cont, class:"form-control me-2", placeholder:"Search User Email" %>
                    <b>
                        <%= f.label "Record name contains:"%></b>
                    <%= f.search_field :object_name_cont, class:"form-control me-2", placeholder:"Search Record Name" %>
                    <b>
                        <%= f.label "Date End:"%></b>
                    <%= f.date_field :date_created_lteq, class:"form-control me-2 ", placeholder:"Search Date" %>
                </div>
            </div>
            <!-- Buttons -->
            <div style="float: right; margin-top: 10px; margin-bottom: 20px ;">
                <%= f.submit "Search", class:"btn btn-light text-center"%>
                <%= link_to "Reset Search", request.path, class:"btn btn-secondary text-center " %>
            </div>
            <% end %>
        </div>
    </div>

    <!--
    <% if AuditLog.count > @audit_logs.count %>
        <%= link_to "Reset Search", request.path, class:"btn btn-secondary text-center" %>
    <br><br>
    <% end %>
-->


    <!-- Search Form End -->
    <% if AuditLog.count > 40 && @f.count > 40 %>
    <%== pagy_bootstrap_nav(@pagy) %>
    <br>
    <% end %>
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>
                    <%= sort_link(@q, :event, "Event", default_order: :asc)%>
                </th>
                <th>
                    <%= sort_link(@q, :modifier , "User", default_order: :asc)%>
                </th>
                <th>
                    <%= sort_link(@q, :table_name , "Page", default_order: :asc)%>
                </th>
                <th>
                    <%= sort_link(@q, :object_name , "Record Name", default_order: :asc)%>
                </th>
                <th>
                    <%= sort_link(@q, :created_at , "Date", default_order: :asc)%>
                </th>
            </tr>
        </thead>
        <tbody>
            <% @audit_logs.each do |a| %>
            <tr>
                <td>
                    <%= a.event %>
                </td>
                <td>
                    <%= a.modifier %>
                </td>
                <td>
                    <%= a.table_name %>
                </td>
                <td>
                    <%= a.object_name %>
                </td>
                <td>
                    <%= a.created_at.to_datetime.strftime("%B %d, %Y at %H:%M:%S") %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>


    <!-- Content for PDF Export Start -->
    <% content_for :pdf do %>
        <% $counter == 0 %>
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>
                    <%= sort_link(@q, :event, "Event", default_order: :asc)%>
                </th>
                <th>
                    <%= sort_link(@q, :modifier , "User", default_order: :asc)%>
                </th>
                <th>
                    <%= sort_link(@q, :table_name , "Page", default_order: :asc)%>
                </th>
                <th>
                    <%= sort_link(@q, :object_name , "Record Name", default_order: :asc)%>
                </th>
                <th>
                    <%= sort_link(@q, :created_at , "Date", default_order: :asc)%>
                </th>
            </tr>
        </thead>
        <tbody>
            <% @all_audit_logs.each do |a| %>
            <tr>
                <td>
                    <%= a.event %>
                </td>
                <td>
                    <%= a.modifier %>
                </td>
                <td>
                    <%= a.table_name %>
                </td>
                <td>
                    <%= a.object_name %>
                </td>
                <td>
                    <%= a.created_at.strftime("%F %T") %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <% end %>
    <!-- Content for PDF Export End -->
</div>