<div class="container">
<p id="notice"><%= notice %></p>

<h1>Audit Log</h1>
<br>
<table class="table table-hover table-bordered ">
  <thead>
    <tr>
      <th>Event</th>
      <th>User</th>
      <th>Page</th>
      <th>Record Name</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @audit_logs.each do |a| %>
      <tr>
        <td><%= a.event %></td>
        <td><%= a.modifier %></td>
        <td><%= a.table_name %></td>
        <td><%= a.object_name %></td>
        <td><%= a.created_at.strftime("%F %T") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>