
<%= form_with(model: [@island, client], local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>
      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :client_name, class:"form-control", autofocus:true %>
  </div>

  <br>
  <div class="actions" style="float:right">
    <%= form.submit :Submit, class: 'btn btn-primary'%>
    <%= link_to 'Back', region_clients_path, class:"btn btn-light" %>
  </div>

<% end %>