<div class="container">
    <h1>
        <%= @region.region_name%> Clients</h1>
    <!-- Search Forms Start -->
    <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Search and Filter
        </a>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body" style="margin-bottom: 20px;">
            <%= search_form_for @q, url: region_clients_path(params[:region_id]) do |f| %>
            <div class="row">
                <div class="col">
                    <b><%= f.label "Client Name:"%></b>
                    <%= f.search_field :client_name_cont, class:"form-control me-2", placeholder:"Search Client"%>
                </div>
                <div class="col">
                    <b><%= f.label "Deep Well Name:"%></b>
                    <%= f.text_field :deep_wells_deep_well_name_cont, :class => "form-control", placeholder:"Search Deepwell" %>
                    <div style="float: right; margin-top: 10px; margin-bottom: 20px ;">
                        <%= f.submit "Search", class:"btn btn-light text-center" %>
                    <% if @current_region_clients.count > @clients.count %>
                        <%= link_to "Reset Search", request.path, class:"btn btn-secondary" %>
                    <br><br>
                    <% end %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
    <!-- Search Forms End -->
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>
                    <%= sort_link(@q, :client_name, "Client Name", default_order: :asc)%>
                </th>
                <th>Number of Deep Wells</th>
                <th style="width: auto;">Edit Client</th>
                <th style="width: auto;">Delete Client</th>
            </tr>
        </thead>
        <tbody>
            <% @clients.each do |client| %>
            <tr>
                <td>
                    <%= link_to client.client_name, client_deep_wells_path(client) %>
                </td>
                <td>
                    <%= DeepWell.where(client_id: client, discarded_at: nil).count %>
                </td>
                <td>
                    <%= link_to 'Edit', edit_region_client_path(@region, client) %>
                </td>
                <td>
                    <% if DeepWell.where(client_id: client).count == 0 %>
                        <%= link_to 'Delete', [@region, client], method: :delete, data: { confirm: 'Are you sure?' }, :class=>"link-danger" %>
                    <% elsif DeepWell.where(client_id: client).count >= 1 %>
                        <p> Client has Deep Wells or Archived Deep Wells and cannot be deleted </p>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <br>
    <div class="d-flex justify-content-between">
        <% if @current_region_clients.count > 10 && @f.count > 10 %>
        <%== pagy_bootstrap_nav(@pagy) %>
        <% end %>
        <div style="float:end; padding-bottom: 10px;">
            <%= link_to 'New Client', new_region_client_path, class:"btn btn-primary"%>
            &nbsp;
            <%= link_to 'Back', island_regions_path(@backregion), class:"btn btn-light"%>
        </div>
    </div>
</div>