<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Island:</strong>
  <%= @client.island_id %>
</p>

<%= link_to 'Edit', edit_region_client_path([@region, @client]) %> |
<%= link_to 'Back', [@island, :clients] %>
