<%= form_with(model: [@client, deep_well], local: true) do |form| %>
<% if deep_well.errors.any? %>
<div class="alert alert-warning" id="error_explanation">
    <h2>
        <%= pluralize(deep_well.errors.count, "error") %> prohibited this deep_well from being saved:</h2>
    <ul>
        <% deep_well.errors.full_messages.each do |message| %>
        <li>
            <%= message %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<!--Form Start-->
<div class="row" style="text-transform: uppercase;">
    <!--Column 1-->
    <div class="col">
        <div class="field" style="">
            <strong>
                <%= form.label "Deep Well Name:" %></strong>
            <%= form.text_field :deep_well_name, class:"form-control",autofocus:true %>
        </div>
        <div class="field">
            <strong>
                <%= form.label "Client Name:" %> </strong>
            <%= form.text_field :client_name, placeholder: @client.client_name, class:"form-control", :readonly=> true %>
        </div>
        <div class="field">
            <strong>
                <%= form.label "Well Location:" %></strong>
            <%= form.text_field :wellLocation, class:"form-control" %>
        </div>
        <div class="field">
            <strong>
                <%= form.label "Name of Driller:" %></strong>
            <%= form.text_field :driller_name, class:"form-control" %>
        </div>
        <div class="field">
            <strong>
                <%= form.label "Date Constructed:" %></strong>
            <%= form.date_field :dateConstructed, class:"form-control" %>
        </div>
        <div class="field">
            <strong>
                <%= form.label "Total Depth:" %></strong>
            <div class="row">
                <div class="col" style="width: 90%;">
                    <%= form.number_field :depthTotal, class:"form-control" %>
                </div>
                <div class="col">
                    <%= form.select :depthTotalUnits, options_for_select([['Kilometer', 'km'], ['Meter', 'm'], ['Centimeter', 'cm'],
                                                  ['Millimeter', 'mm'], ['Yard', 'yd'], ['Foot', 'ft'],
                                                  ['Inch', 'in']],
                                                  (@deep_well.depthTotalUnits)), { include_blank: "Select Unit"}, class: "form-control form-select" %>
                </div>
            </div>
        </div>

    </div>
    <!--Column 2-->
    <div class="col">
        <div class="field">
            <strong>
                <%= form.label "Water Permit Number:" %></strong>
            <%= form.text_field :waterPermitNo, class:"form-control" %>
        </div>
        <div class="field">
            <strong>
                <%= form.label "Date Granted:" %></strong>
            <%= form.date_field :dateGranted, class:"form-control" %>
        </div>
        <div class="field">
            <strong>
                <%= form.label "Extraction Granted:" %></strong>

            <div class="row">
                <div class="col" style="width: 90%;">
                    <%= form.number_field :limit , class:"form-control"%>
                </div>
                <div class="col">
                    <%= form.select :waterLimitUnits, options_for_select([['Liters per Second', 'lps'], ['Kilometer', 'km'], ['Meter', 'm'], ['Centimeter', 'cm'],
                                                  ['Millimeter', 'mm'], ['Yard', 'yd'], ['Foot', 'ft'],
                                                  ['Inch', 'in']],
                                                  (@deep_well.waterLimitUnits)), { include_blank: "Select Unit"}, class: "form-control form-select" %>
                </div>
            </div>


        </div>
        <div class="field">
            <strong>
                <%= form.label "Remarks:" %></strong>
            <%= form.text_area :remarks , class:"form-control input-large", style:";" %>
        </div>
    </div>
</div>
<br>

<!-- Lithologic File Start-->
<strong>
    <%= form.label "Lithologic Log:" %> </strong>
<%= form.file_field :log, class:"form-control" %>
<% if @deep_well.log.attached? %>
<br>
<table class="table table-bordered ">
    <tbody>
        <tr>
            <td> <strong> Current Lithologic File </strong> </td>

        </tr>
        <tr>
            <td>
                <% if @deep_well.log.attached? %>
                <p>
                    <%= link_to @deep_well.log.filename, @deep_well.log, html_options = { target: "_blank"} %>
                </p>
                <% else %>
                <p>
                    <i> File unavailable </i>
                </p>
                <% end %>
            </td>
        </tr>
    </tbody>
</table>
<% end %>  
<!-- Lithologic File End-->

<hr class="elegant-divider">

<!--Water Permit File Start-->
<strong>
    <%= form.label "Water Permit:" %> 
</strong>
<%= form.file_field :waterPermit, class:"form-control" %>
<% if @deep_well.waterPermit.attached? %>
<br>
<table class="table table-bordered ">
    <tbody>
        <tr>
            <td> <strong>Current Water Permit File </strong> </td>
        </tr>
        <tr>
            <td>
                <% if @deep_well.waterPermit.attached? %>
                <p>
                    <%= link_to @deep_well.waterPermit.filename, @deep_well.waterPermit, html_options = { target: "_blank"} if @deep_well.waterPermit.attached? %>
                </p>
                <% else %>
                <p>
                    <i> File unavailable </i>
                </p>
                <% end %>
            </td>
        </tr>
    </tbody>
</table>
<% end %>
<!--Water Permit File End-->

<hr class="elegant-divider">

<!--UTVI File Start-->
<strong>
    <%= form.label "UTVI Files:" %> 
</strong>
<%= form.file_field :utviFile, class:"form-control", multiple: true %>
<% if @deep_well.utviFile.attached? %> 
<br>
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <td> <strong>Current UTVI Files</strong> </th>

            </tr>
        </thead>
        <tbody>
            <% if !@deep_well.utviFile.attached?%>
                <tr>
                    <td> <i> File unavailable </i></td>
                </tr>
            <% else %>
                <%@deep_well.utviFile.each do |utviFile|%>
                <td>
                    <%= link_to(utviFile.filename, rails_blob_path(utviFile),  target: '_blank', multiple: true) %>
                </td>
                </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
<% end %>
<!--UTVI File End-->

<hr class="elegant-divider">

<!-- Asbuilt Files Start-->
<strong>
    <%= form.label "As-built Files:" %> 
</strong>
<%= form.file_field :asbuilt, class:"form-control", multiple: true %>
<% if @deep_well.asbuilt.attached? %>
<br>
<table class="table table-hover table-bordered ">
    <thead>
        <tr>
            <td> <strong>Current As-Built Design Files</strong> </th>
        </tr>
    </thead>
    <tbody>
        <% if !@deep_well.asbuilt.attached? %>
            <tr>
                <td> <i> File unavailable </i></td>
            </tr>
        <% else %>
            <%@deep_well.asbuilt.each do |asbuilt|%>
            <td>
                <%= link_to(asbuilt.filename, rails_blob_path(asbuilt),  target: '_blank', multiple: true) %>
            </td>
            </tr>
            <% end %>
        <% end %>
    </tbody>
</table>
<% end %>
<!-- Asbuilt Files End-->

<hr class="elegant-divider">

<!-- Deepwell Design Proposal Start-->
<strong>
    <%= form.label "Deepwell Design Proposal Files:" %> 
</strong>
<%= form.file_field :design, class:"form-control", multiple: true %>
<% if @deep_well.design.attached? %>
<br>
<table class="table table-hover table-bordered ">
<thead>
    <tr>
        <td> <strong> Current Deepwell Design Proposal Files </strong></th>
    </tr>
</thead>
<tbody>
    <% if !@deep_well.design.attached? %>
        <tr>
            <td> <i> File unavailable </i> </td>
        </tr>
    <% else %>
        <%@deep_well.design.each do |design|%>
        <tr>
            <td>
                <%= link_to(design.filename, rails_blob_path(design),  target: '_blank') %>
            </td>
        <% end %>
    <% end %>
</tbody>
</table>
<% end %>
<!-- Deepwell Design Proposal End-->

<div class="actions" style="margin-left: 10px; float: right;"> <br>
    <%= form.submit :Submit, class: 'btn btn-primary'%>
</div>
<% end %>
<br>
<!--Form End-->