<%= form_with(model: [@client, deep_well], local: true) do |form| %>
  <% if deep_well.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deep_well.errors.count, "error") %> prohibited this deep_well from being saved:</h2>
      <ul>
        <% deep_well.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--Form Start-->

  <div class="row">
    <!--Column 1-->
    <div class="col">
      <div class="field">
        <%= form.label "Deep Well Name:" %>
        <%= form.text_field :deep_well_name, class:"form-control",autofocus:true %>
      </div>
      <div class="field">
        <%= form.label "Client Name:" %>
        <%= form.text_field :clientName, class:"form-control" %>
      </div>
      <div class="field">
        <%= form.label "Well Coordinates:" %>
        <%= form.text_field :wellCoodinates, class:"form-control" %>
      </div>
      <div class="field">
        <%= form.label "Name of Contractor:" %>
        <%= form.text_field :contractor, class:"form-control" %>
      </div>
      <div class="field">
        <%= form.label "Date of UTVI:" %>
        <%= form.date_field :dateofUTVI , class:"form-control"%>
      </div>
    </div>

    <!--Column 2-->
    <div class="col">
      <div class="field">
        <%= form.label "Date Granted:" %>
        <%= form.date_field :dateGranted, class:"form-control" %>
      </div>
      <div class="field">
        <%= form.label "Well Location:" %>
        <%= form.text_field :wellLocation, class:"form-control" %>
      </div>
      <div class="field">
        <%= form.label "Water Permit Number:" %>
        <%= form.text_field :waterPermitNo, class:"form-control" %>
      </div>
      <div class="field">
        <%= form.label "Total Depth:" %>
        <%= form.text_field :depthTotal, class:"form-control" %>
      </div>    
      <div class="field">
        <%= form.label "Reason:" %>
        <%= form.text_field :reason , class:"form-control"%>
      </div>
    </div>
  </div>

<br>

  <div class="mb-3">
    <%= form.label "Lithologic Log:" %>
    <% if @deep_well.log.attached? %>
      <%= link_to 'current file', @deep_well.log, html_options = { target: "_blank"} %>
    <% end %>
    <%= form.file_field :log, class:"form-control" %>
  </div>
    <div class="mb-3">
    <%= form.label "As-Built Design:" %>
    <%= form.file_field :asbuilt, class:"form-control" %>
  </div>
    <div class="mb-3">
    <%= form.label "Deepwell Design:", class:"form-label" %>
    <%= form.file_field :design, class:"form-control" %>
  </div>



    <div class="actions" style="float:right">
    <%= form.submit :Submit, class: 'btn btn-light'%>
        <button type="button" class="btn btn-light" >
          <%= link_to 'Back', client_deep_wells_path %>
        </button>
  </div>
<% end %>

<!--Form End-->