<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deep_well.name %>
</p>
<p>
  <strong>Date Granted:</strong>
  <%= @deep_well.dateGranted %>
</p>
<p>
  <strong>Client Name:</strong>
  <%= @deep_well.clientName %>
</p>
<p>
  <strong>Well Location:</strong>
  <%= @deep_well.wellLocation %>
</p>
<p>
  <strong>Well Coordinates:</strong>
  <%= @deep_well.wellCoodinates %>
</p>
<p>
  <strong>Water Permit Number:</strong>
  <%= @deep_well.waterPermitNo %>
</p>
<p>
  <strong>Name of Contractor:</strong>
  <%= @deep_well.contractor %>
</p>
<p>
  <strong>Total Depth:</strong>
  <%= @deep_well.depthTotal %>
</p>
<p>
  <strong>Date of UTVI:</strong>
  <%= @deep_well.dateofUTVI %>
</p>
<p>
  <strong>Reason:</strong>
  <%= @deep_well.reason %>
</p>

<% if @deep_well.log.attached? %>
  <p>
    <strong>Lithologic Log:</strong>
    <%= link_to 'View', @deep_well.log, html_options = { target: "_blank"} if @deep_well.log.attached? %>
  </p>
<% end %>

<% if @deep_well.asbuilt.attached? %>
  <p>
    <strong>As-Built Design:</strong>
    <%= link_to 'View', @deep_well.asbuilt, html_options = { target: "_blank"} if @deep_well.asbuilt.attached? %>
  </p>
<% end %>


<% if @deep_well.design.attached? %>
  <p>
    <strong>Deepwell Design:</strong>
    <%= link_to 'View', @deep_well.design, html_options = { target: "_blank"} %>
  </p>
<% end %>

<%= link_to 'Edit', edit_client_deep_well_path([@client, @deep_well]) %> |
<%= link_to 'Back', [@client, :deep_wells] %>