<div class="container">

  <h2> <%= @deep_well.deep_well_name %> Information </h2>
  <p id="notice"><%= notice %></p>
   
  <!--Info. Table Start-->
  <table class="table table-hover table-bordered" style="">
    <tbody>
        <tr>
          <td>
            <p>
              <strong>NAME:</strong>
              <%= @deep_well.deep_well_name %>
            </p>
          </td>
          <td>
            <p>
              <strong>DATE GRANTED:</strong>
              <%= @deep_well.dateGranted %>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <strong>CLIENT NAME:</strong>
              <%= @deep_well.clientName %>
            </p>
          </td>
          <td>
            <p>
              <strong>WELL LOCATION:</strong>
              <%= @deep_well.wellLocation %>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <strong>WELL COORDINATES:</strong>
              <%= @deep_well.wellCoodinates %>
            </p>
          </td>
          <td>
            <p>
              <strong>WATER PERMIT NUMBER:</strong>
              <%= @deep_well.waterPermitNo %>
            </p>
          </td>         
        </tr>
        <tr>
          <td>
            <p>
              <strong>NAME OF CONTRACTOR:</strong>
              <%= @deep_well.contractor %>
            </p>
          </td>
          <td>
            <p>
              <strong>TOTAL DEPTH:</strong>
              <%= @deep_well.depthTotal %>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <strong>DATE OF UTVI:</strong>
              <%= @deep_well.dateofUTVI %>
            </p>
          </td>
          <td>
            <p>
              <strong>REASON:</strong>
              <%= @deep_well.reason %>
            </p>
          </td>
    </tbody>
  </table>
  <!-- Info. Table End-->

  <br>
    <h2> File Attachments </h2>

  <!-- File Attachments Start-->
<table class="table table-hover table-bordered" style="">
  <tbody>
    <tr>
      <td>
        <% if @deep_well.log.attached? %>
          <p>
            <%= link_to 'Lithologic Log', @deep_well.log, html_options = { target: "_blank"} if @deep_well.log.attached? %>
          </p>
        <% else %>
          <p>
            <i><strong>Lithologic Log</strong> (UNAVAILABLE)</i>
          </p>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <% if @deep_well.asbuilt.attached? %>
          <p>
            <%= link_to 'As-Built Design', @deep_well.asbuilt, html_options = { target: "_blank"} if @deep_well.asbuilt.attached? %>
          </p>
        <% else %>
          <p>
            <i><strong>As-Built Design</strong> (UNAVAILABLE)</i>
          </p>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <% if @deep_well.design.attached? %>
          <p>
            <%= link_to 'Deep Well Design', @deep_well.design, html_options = { target: "_blank"} %>
          </p>
        <% else %>
          <p>
            <i><strong>Deep Well Design</strong> (UNAVAILABLE)</i>
          </p>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

  <!-- File Attachments End-->


  <div style="float:right">

        <%= link_to 'Edit', edit_client_deep_well_path([@client, @deep_well]), class: "btn btn-primary" %> 
        <%= link_to 'Back', [@client, :deep_wells], class: "btn btn-light" %>

    <br>
  </div>
</div>