<div class="container" style="padding-bottom: 50px">

  <h2> <%= @deep_well.deep_well_name %> Information </h2>
  <!-- <p id="notice"><%= notice %></p>-->
   
  <!--Info. Table Start-->
  <table class="table table-bordered" style="">
    <tbody> 
        <tr>
          <td style="width: 50%">
            <p>
              <strong>NAME:</strong>
              <h6><%= @deep_well.deep_well_name %></h6>
            </p>
          </td>
          <td>
            <p>
              <strong>WATER PERMIT NUMBER:</strong>
              <h6><%= @deep_well.waterPermitNo %></h6>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <strong>CLIENT NAME:</strong>
              <h6><%= @client.client_name%></h6>
            </p>
          </td>
          <td>
            <p>
              <strong>DATE GRANTED:</strong>
              <% if @deep_well.dateGranted != nil %>
                <h6><%= @deep_well.dateGranted.to_date.strftime("%B %d, %Y") %></h6>
              <% end %>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <strong>DEEPWELL LOCATION:</strong>
              <h6><%= @deep_well.wellLocation %></h6>
            </p>
          </td>
          <td>
            <p>
              <strong> EXTRACTION GRANTED:</strong>
              <h6><%= @deep_well.limit %>
              <%= @deep_well.waterLimitUnits%></h6>
            </p>
          </td>         
        </tr>
        <tr>
          <td>
            <p>
              <strong>NAME OF DRILLER:</strong>
              <h6><%= @deep_well.driller_name %></h6>
            </p>
          </td>
          <td>
            <p>
              <strong>COORDINATES:</strong>
              <h6> X - <%= @deep_well.xCoordinate %> | Y - <%= @deep_well.yCoordinate %></h6> 
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <strong>DATE CONSTRUCTED:</strong>
              <% if @deep_well.dateConstructed != nil %> 
              <h6><%= @deep_well.dateConstructed.to_date.strftime("%B %d, %Y") %></h6>
              <% end %>
            </p>
          </td>
          <td rowspan="4">
            <p>
              <strong>REMARKS:</strong>
              <%= @deep_well.remarks %>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <strong>TOTAL DEPTH:</strong>
            <h6><%= @deep_well.depthTotal%>
            <%= @deep_well.depthTotalUnits%></h6>
          </td>
        </tr>
        <tr>

        </tr>
    </tbody>
  </table>
  <!-- Info. Table End-->

  <br>
    <h2> File Attachments </h2>

  <!-- Lithologic File Start-->
  <table class="table table-bordered ">
    <thead>
      <tr>
        <th style="width: 40%"> Lithologic File </th>
        <th style="width: 30%"> Date Uploaded </th>
        <% if @deep_well.log.attached? %>
        <th style="width: 30%"> Delete </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <% if @deep_well.log.attached? %>
            <%= link_to @deep_well.log.filename, @deep_well.log, html_options = { target: "_blank"} if @deep_well.log.attached? %>
          <% else %>
            <i> No file available </i>
          <% end %>
        </td>
        <td>
          <% if @deep_well.log.attached? %>
            <p>
              <%= @deep_well.log.created_at.to_datetime.strftime("%B %d, %Y at %H:%M:%S") %>
            </p>
          <% else %>
            <p>
              -
            </p>
          <% end %>
        </td>
        <% if @deep_well.log.attached? %>
          <td>
            <%= link_to "Remove Attachment", purge_log_attachment_client_deep_well_path(@deep_well, @deep_well.log.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <!-- Lithologic File End-->

  <!--Water Permit File Start-->
  <table class="table table-bordered ">
    <thead>
      <tr>
        <th style="width: 40%"> Water Permit File</th>
        <th style="width: 30%"> Date Uploaded</th>
        <% if @deep_well.waterPermit.attached? %>
        <th style="width: 30%"> Delete </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <% if @deep_well.waterPermit.attached? %>
            <%= link_to @deep_well.waterPermit.filename, @deep_well.waterPermit, html_options = { target: "_blank"} if @deep_well.waterPermit.attached? %>
          <% else %>
            <i> No file available </i>
          <% end %>
        </td>
        <td>
          <% if @deep_well.waterPermit.attached? %>
            <p>
              <%= @deep_well.waterPermit.created_at.to_datetime.strftime("%B %d, %Y at %H:%M:%S") %>
            </p>
          <% else %>
            <p>
              -
            </p>
          <% end %>
        </td>
        <% if @deep_well.waterPermit.attached? %>
          <td>
            <%= link_to "Remove Attachment", purge_waterPermit_attachment_client_deep_well_path(@deep_well, @deep_well.waterPermit.id), method: :delete, data: { confirm: 'Are you sure?' } %> 
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <!--Water Permit File End-->

  <!--UTVI File Start-->
  <table class="table table-bordered">
    <thead>
        <tr>
          <th style="width: 40%">  UTVI Files</th>
          <th style="width: 30%">  Date Uploaded </th>
          <% if @deep_well.utviFile.attached? %>
          <th style="width: 30%"> Delete </th>
          <% end %>
        </tr>
    </thead>
    <tbody>
        <% if !@deep_well.utviFile.attached? %>
          <tr>
            <td> <i> No file available </i></td>
            <td> - </td>
          </tr>
        <% else %>
        <%@deep_well.utviFile.each do |utviFile|%>
          <tr>
            <td> <%= link_to(utviFile.filename, rails_blob_path(utviFile),  target: '_blank') %></td>
            <td> <%= utviFile.created_at.to_datetime.strftime("%B %d, %Y at %H:%M:%S") %></td>
            <td> <%= link_to 'Remove Attachment', purge_utviFile_attachment_client_deep_well_path(@client, utviFile), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
  </table>

  <!--UTVI File End-->


  <!-- Asbuilt Files Start-->
  <table class="table table-bordered">
    <thead>
        <tr>
          <th style="width: 40%"> As-Built Design Files </th>
          <th style="width: 30%"> Date Uploaded </th>
          <% if @deep_well.asbuilt.attached? %>
          <th style="width: 30%"> Delete </th>
          <% end %>
        </tr>
    </thead>
    <tbody>
        <% if !@deep_well.asbuilt.attached? %>
          <tr>
            <td> <i> No file available </i></td>
            <td> - </td>
          </tr>
        <% else %>
        <%@deep_well.asbuilt.each do |asbuilt|%>
          <tr>
            <td> <%= link_to(asbuilt.filename, rails_blob_path(asbuilt),  target: '_blank') %></td>
            <td> <%= asbuilt.created_at.to_datetime.strftime("%B %d, %Y at %H:%M:%S") %></td>
            <td> <%= link_to 'Remove Attachment', purge_asbuilt_attachment_client_deep_well_path(@client, asbuilt), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
  </table>
  <!-- Asbuilt Files End-->

  <!-- Deepwell Design Proposal Start-->
  <table class="table table-bordered">
    <thead>
        <tr>
          <th style="width: 40%">  Deepwell Design Proposal Files</th>
          <th style="width: 30%">  Date Uploaded </th>
          <% if @deep_well.design.attached? %>
          <th style="width: 30%"> Delete </th>
          <% end %>
        </tr>
    </thead>
    <tbody>
        <% if !@deep_well.design.attached? %>
          <tr>
            <td> <i> No file available </i> </td>
            <td> - </td>
          </tr>
        <% else %>
        <%@deep_well.design.each do |design|%>
          <tr>
            <td><%= link_to(design.filename, rails_blob_path(design),  target: '_blank') %></td>
            <td> <%= design.created_at.to_datetime.strftime("%B %d, %Y at %H:%M:%S") %> </td>
            <td> <%= link_to 'Remove Attachment', purge_design_attachment_client_deep_well_path(@client, design), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
  </table>
  <!-- Deepwell Design Proposal End-->

  <div style="float:right">
        <%= link_to 'Edit', edit_client_deep_well_path([@client, @deep_well]), class: "btn btn-primary" %> 
        <%= link_to 'Back', [@client, :deep_wells], class: "btn btn-light" %>
    <br>
  </div>
</div>