<body style="background-color:#2FB6E1;">
  <div class="position-absolute top-50 start-50 translate-middle card" style=" width: 55%; height: auto;  background: #56C6EA; margin: 0 auto;">
    <div class="card-body">
      <div style="margin-bottom: 20px; margin-top: 10px;">
        <img class=" rounded mx-auto d-block" src="<%= asset_path( 'logo.png' ) %>" alt="Card image cap" width="auto" height="100px">
      </div>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f| %>

        <div class="field form-group" style="margin:auto; width: 90%">
          <% if alert %>
            <div class="alert alert-danger alert-dismissible fade show container" role="alert" style="width: auto; height: auto;  padding: 0px 15px;">
              <i><p class="text-center" style="margin:  auto;"><%= alert %></p></i>
              <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close" style="height: 10px; line-height:10px; margin-top: 10px; padding: 0px 15px;" ></button>
            </div>
          <% end %>
          <%= f.input :otp_attempt, label: false, class:"form-control", placeholder:"OTP", autofocus: true %>
        </div>
        <div class="actions text-center" style="width: auto; height: auto; margin-top:  10px;margin-bottom: 30px">
          <%= f.submit "Login", class:'btn btn-light .btn-block', style: 'width: 200px'%>
        </div>        
      <% end %>
    </div>
  </div>
</body>