<div class="container">
  <h1>User Management</h1>
    <form class="d-flex" role="search" style="width: 25%">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-light text-right float-end" type="submit">Search</button>
        </form> <br>
  
  <table class="table table-hover table-bordered ">
  <thead>
    <tr>
      <th style="width: 60%">Name</th>
      <th style="width: auto;">Email</th>
      <th style="width: auto;">View</th>
      <th style="width: auto;">Edit</th>
      <th style="width: auto;">Delete</th>

    </tr>
  </thead>
  <tbody>
    <% @usermanages.each do |usermanage| %>
      <tr>
        <td><%= usermanage.name %></td>
        <td><%= usermanage.email %></td>
        <td><%= link_to ' ', usermanage, class: "fa-solid fa-eye" %></td>
        <td><%= link_to ' ', edit_usermanage_path(usermanage), class: "fa-solid fa-user-pen" %></td>
        <td><%= link_to ' ', usermanage, class: "fa-solid fa-trash" , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<button type="button" class="btn btn-light text-right float-end" >
  <%= link_to ' ', new_usermanage_path, class: "fa-sharp fa-solid fa-user-plus" %>
</button>
</div>