<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @usermanage.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usermanage.email %>
</p>

<%= link_to 'Edit', edit_usermanage_path(@usermanage), class: "btn btn-info" %> |
<%= link_to 'Back', usermanages_path, class: "btn btn-info" %>
