<div class="container">
<p id="notice"><%= notice %></p>

<h1>Activities</h1>
<br>
<table class="table table-hover table-bordered ">
  <thead>
    <tr>
      <th>Time</th>
      <th>Key</th>
      <th>User</th>
      <th>Object</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |a| %>
      <tr>
      <td><%= a.created_at %></td>
      <td><%= a.key %></td>
      <td>
        <% if a.owner.nil? %>
          <p>No user responsible. Action was done through console.<p>
        <% else %>
          <p><%= a.owner&.email %></p>
        <% end %> 
      </td>
      <td>
        <% if a.trackable&.id == nil %>
          <%= "This object has been deleted" %>
        <% elsif a.trackable_type == 'User' %>
          <%= link_to a.trackable&.email, users_path %>
        <% elsif a.trackable_type == 'Island' %>
          <%= a.trackable&.island_name %>
        <% elsif a.trackable_type == 'Client' %>
          <%= a.trackable&.client_name %>
        <% elsif a.trackable_type == 'DeepWell' %>
          <%= a.trackable&.deep_well_name %>
        <% else %>
          <p> No object found </p>
        <% end %>
      </td>
        <!-- <td><%#= a.key != "island.destroy" %></td>
        <td><%#= link_to 'Show', activity %></td>
        <td><%#= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%#= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
</div>